.App {
  text-align: center;
}

.Nav {
  font-family: 'Lato', sans-serif;
}

.Nav a {
  text-decoration: none;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#marker {
  background-image: url('https://secure-media.collegeboard.org/CollegePlanning/media/image/photo/1309_Photo.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  }
   
.mapboxgl-popup {
  max-width: 200px;
  font-family: 'Courier New', Courier, monospace;
  color:black;
}